
#home{
/*        height:100%;*/
        width: 100%;
        background-color:#e6f8dd; 
}
.header,.menu,.footer{
        min-height: 30px;
        height:10%;
        width: 100%;
        text-align:center;
        /*background-color:#f0f6e4;*/ 
}

#update{
        height:70%;
        width: 100%;
/*        background-color:green;*/
}
#menuupdate_left{
             height:100%;
             width: 60%;
             float: left;
/*             background-color:blue;*/
}
#advertising_right{
             height:100%;
             width: 40%;
             float: left;
/*             background-color:gray;*/
}
